{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-1">
    <div class=" border p-1 gradient1-custom rounded shadow " >
        <h3 class="text-white fw-bold ms-3 ">Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2 border-dark border-end">
            <ul class="list-unstyled">
                <li class="d-grad"><a href="{% url 'addadress' %}" class="btn ">Add Address</a></li>
                <li class="d-grad"><a href="{% url 'address' %}" class="btn btn-primary">show Addresses</a></li>
            </ul>
        </div>

        <div class="col-sm-10 ">
            <div class="row">
                {% for ad in add %}
                    <div class="col-sm-4">
                        <div class="card border border-dark shadow m-2">
                            <div class="card-body">
                                <div class=" border gradient1-custom rounded shadow  ">
                                    <h3 class="text-white ms-3" >   Address {{forloop.counter}}</h3>
                                </div>
                                <br>
                                <p>Name: {{ad.name}}</p>
                                <p>Locality: {{ad.locality}}</p>
                                <p>Mobile: {{ad.mobile}}</p>
                                <p>City: {{ad.city}}</p>
                                <p>State: {{ad.state}}</p>
                                <p>Pincode: {{ad.zipcode}}</p>
                                <div class="d-flex justify-content-around">
                                    <span class="text-center"><a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-success">Update</a></span>
                                    <span class="text-center "><a href="{% url 'deleteAddress' pk=ad.id %}" type="button" class="btn btn-success">Delete</a></span>
                                </div>
                                
                            </div>
                        </div>  
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock main-content %}

