{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container-fluid">
        <div class="row">
            {% if subcategory %}
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="list-group d-flex justify-content-between" style="border:2px solid black;">
                        {% for i in subcategory %}
                            <a href="{% url 'subcategory' val1=i.category_id val2=i.id %}" class="list-group-item list-group-item-action" aria-current="true">
                                {{i.name}}<span class="badge bg-success rounded-pill" style="float:right;">4</span>
                            </a>
                            
                        {% endfor %}
                        
                    </div>
                </div>

                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="row">
                        {% for prod in product %}
                        {% comment %} col-md-10 col-lg-4 mb-4 mb-lg-0 {% endcomment %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                            <div class="row d-flex justify-content-center">
                                <div class="card p-1 shadow " style="width: 220px; height: 330px; border:1px solid black;">
                                <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >
                                    <div class="d-flex justify-content-between p-2">
                                        <p class="text-danger lead mb-0">brand</p>
                                    </div>
                                    <img src="{% static 'app/images/product/apple.jpg' %}" class="card-img-top " alt="Laptop" height="130px" width="100px"/>
                                </a>     
                                    <div class="card-body">
                                <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >        
                                        <div class="d-flex justify-content-between">
                                        <p class="small text-muted ">1kg</p>
                                        <p class="small text-danger ">Rs.<s class=" text-danger text-decoration-line-through">{{prod.selling_price}}</s></p>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-3">
                                        <h6 class="mb-0">{{prod.title}}</h6>
                                        <h5 class="text-dark mb-0">Rs.{{prod.discounted_price}}</h5>
                                        </div>
                                </a>       
                                    </div>  
                                    <div class="d-flex justify-content-center ">
                                        <form action="/add-to-cart" class="d-inline">
                                            <input type="hidden" name="prod_id" value={{prod.id}} />
                                            <button type="submit" class=" btn btn-primary shadow " style="width:220px; border-radius:25px 0px 25px 0px;">Add to cart</button>
                                        </form>
                                        {% comment %} <a href="#!!" class="" ><button class="btn btn-primary " style="width:220px; border-radius:25px 0px 25px 0px;" ><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i> Add to cart</button></a> {% endcomment %}
                                    </div>
                                </div> 
                            </div> 
                            <br><br> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        {% for prod in product %}
                        {% comment %} col-md-10 col-lg-4 mb-4 mb-lg-0 {% endcomment %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                            <div class="row d-flex justify-content-center">
                                <div class="card p-1 shadow " style="width: 220px; height: 330px; border:1px solid black;">
                                <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >
                                    <div class="d-flex justify-content-between p-2">
                                        <p class="text-danger lead mb-0">brand</p>
                                    </div>
                                    {% comment %}  {% endcomment %}
                                    <img src="{% static 'app/images/product/apple.jpg' %}" class="card-img-top " alt="Laptop" height="130px" width="100px"/>
                                </a>     
                                    <div class="card-body">
                                <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >        
                                        <div class="d-flex justify-content-between">
                                        <p class="small text-muted ">1kg</p>
                                        <p class="small text-danger ">Rs.<s class=" text-danger text-decoration-line-through">{{prod.selling_price}}</s></p>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-3">
                                        <h6 class="mb-0">{{prod.title}}</h6>
                                        <h5 class="text-dark mb-0">Rs.{{prod.discounted_price}}</h5>
                                        </div>
                                </a>
                                    </div>    
                                    <div class="d-flex justify-content-center ">
                                        <a href="#!!" class="" ><button class="btn btn-primary " style="width:220px; border-radius:25px 0px 25px 0px;" ><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i> Add to cart</button></a>
                                    </div>
                                </div> 
                            </div> 
                            <br><br> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}     
           
        </div>
    </div>

{% endblock main-content %}