
{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}

{% block main-content %}

<div class="container my-1">
    <div class=" border p-1 gradient1-custom rounded shadow " >
        <h3 class="text-white fw-bold ms-3 ">Welcome <span class="text-capitalize">{{request.user.username}}</span></h3>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3  border-end">
        <div class="list-group d-flex justify-content-between shadow" style="border:2px solid black;">
            <h3 class="list-group-item gradient1-custom text-white" aria-current="true">Order Date</h3>
            {% for i in orderDate %}
                <a href="{% url 'orderbydate' i %}" class="list-group-item list-group-item-action " aria-current="true">
                    <h5>{{i}}</h5>
                </a>
            {% endfor %}
        </div>
    </div>

        <div class="col-sm-8 ms-5">
            {% for op in newOrderplaced %}
                <div class="row shadow p-2 bg-light border border-dark rounded">
                    <div class="col-sm-2 border border-2 border-dark rounded">
                        <img src="{{op.product.product_image.url}}" class="img-fluid" height="100" width="100"/>
                    </div>
                    <div class="col-sm-7">
                        <h6 >Product : {{op.product.title}}</h6>
                        <h6 >Quantity : {{op.quantity}}</h6>
                        <h6 >Price : {{op.total_cost}}</h6>
                    </div>
                    <div class="col-sm-3">
                        <h6> Order Status : {{op.status}}</h6>
                        {% if op.status == 'Accepted' %}
                            <div class="progress border border-dark">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif%}

                        {% if op.status == 'Packed' %}
                            <div class="progress border border-dark">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif%}

                        {% if op.status == 'On The Way' %}
                            <div class="progress border border-dark">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif%}

                        {% if op.status == 'Delivered' %}
                            <div class="progress border border-dark">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif%}

                        {% if op.status == 'Cancel' %}
                            <div class="progress border border-dark">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif%}
                    </div>
                </div>
                <br>
            {% endfor %}
            <br><br><br>
        </div>
        
    </div>
</div>

{% endblock main-content %}