{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-1">
    <div class=" border p-1 gradient1-custom rounded shadow " >
        <h3 class="text-white fw-bold ms-3 ">Password Changed</span></h3>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2 border-end border-dark">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'viewprofile' %}" class="btn btn-primary">view profile</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}