{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                    <div class="list-group d-flex justify-content-between" style="border:2px solid black;">
                        <h5 class="list-group-item gradient1-custom text-white" aria-current="true">Products</h5>
                        {% for i in subcategory %}
                            <a href="{% url 'subcategory' val1=i.category_id val2=i.id %}" class="list-group-item list-group-item-action" aria-current="true">
                                {{i.name}} 
                                <span class="badge bg-success rounded-pill" style="float:right;">
                                    {% for j in sublist %}
                                        {% if j.0 == i.name %}
                                            {{j.1}}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </a>
                        {% endfor %}
                        
                    </div>
                    <br>
                    {% comment %} brand sublist  {% endcomment %}
                    <div class="list-group d-flex justify-content-between" style="height: 25%; border:2px solid black;">
                        <h5 class="list-group-item gradient1-custom text-white" aria-current="true">Brands</h5>
                        <div class="example rounded" style="overflow-y: auto; ">
                            {% for i in brand %}
                                <a href="{%url 'brandfilter' i.id %}" class="list-group-item list-group-item-action" aria-current="true">
                                    {{i.name}}<span class="badge bg-success rounded-pill" style="float:right;">
                                        
                                    {% for j in brandlist %}
                                        {% if j.0 == i.name %}
                                            {{j.1}}
                                        {% endif %}
                                    {% endfor %}
                                    </span>
                                </a>
                                
                            {% endfor %}
                    </div>
                    </div>
            </div>


            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                    {% for prod in product %}
                    {% comment %} col-md-10 col-lg-4 mb-4 mb-lg-0 {% endcomment %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="row d-flex justify-content-center">
                            <div class="card p-1 shadow " style="width: 220px; height: 330px; border:1px solid black;">
                            <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >
                                
                            </a>     
                                <div class="card-body bg-white border shadow ">
                            <a href="{% url 'product-detail' prod.id %}" style="text-decoration:none; color:black;" >        
                                <div class="d-flex justify-content-between">
                                    <p class="text-danger  mb-0 ">{% if prod.brands %}{{prod.brands}} {% else %} <br> {% endif %} </p>
                                </div>
                                <img src="{{prod.product_image.url}}" class="card-img-top " alt="Laptop" height="130px" width="100px"/>
                                    <div class="d-flex justify-content-between">
                                    <p class="small text-muted ">1kg</p>
                                    <p class="small text-danger ">Rs.<s class=" text-danger text-decoration-line-through">{{prod.selling_price}}</s></p>
                                    </div>
                    
                                    <div class="d-flex justify-content-between mb-3">
                                    <h6 class="mb-0">{{prod.title}}</h6>
                                    <h5 class="text-dark mb-0">Rs.{{prod.discounted_price}}</h5>
                                    </div>
                            </a> 
                                    
                                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1" style=" ">
                                        <form action="/add-to-cart" class="d-inline">
                                            <input type="hidden" name="prod_id" value={{prod.id}} />
                                            <button type="submit" class=" btn btn-primary " style="width: 130px;  border-radius:25px 0px 0px 25px; box-shadow: inset 0px 0px 4px white;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i> Add item</button>
                                        </form>
                                          
                                        <button class="btn btn-success " style="width: 100px; border-radius:0px 25px 25px 0px; box-shadow: inset 0px 0px 4px yellow;"><a href="{% url 'buynow' prod.id %}" class="text-white text-decoration-none ">Buy</a></button>
                                        {% comment %}add to cart css----- style="width:220px; border-radius:25px 0px 25px 0px; box-shadow: inset 3px 1px 4px white; box-shadow: 0 0 5px blue;" {% endcomment %}
                                        {% comment %} <a href="#!!" class="" ><button class="btn btn-primary " style="width:220px; border-radius:25px 0px 25px 0px;" ><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i> Add to cart</button></a> {% endcomment %}
                                    </div>

                                </div>
                                  
                            </div> 
                        </div> 
                        <br><br> 
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock main-content %}