{% extends 'baseapp/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="container my-3 ">
    <div class=" border p-2 gradient1-custom rounded shadow " >
        <h3 class="text-white fw-bold ms-3 ">Update Address</span></h3>
    </div>
    <br>
    <div class="col-sm-8 offset-sm-1">
        <form action="" method="post" class="shadow p-4 bg-light"style="border-radius:5%">
            {% csrf_token %}
            {% for fm in form %}
               <h6>{{fm.label_tag}}</h6>  {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                <br>
            {% endfor %}
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'address' %}" type='button' class="btn btn-danger">Back</a>
            </div>

            
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock main-content %}